body {
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #ddd;
}

.card {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    perspective: 500px;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    color: #ff6600;
    font-size: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 300px;
    font-weight: 600;
}

.back {
    background-color: #ff6600;
    color: #fff;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card:hover .content {
    transform: rotateY(180deg);
}