* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
}

nav {
    width: 90%;
    margin: 0 auto;
    padding: 0 3.6rem;
    background-color: #272727;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav header h1 {
    color: #ffe400;
    font-size: 3rem;
    letter-spacing: 1px;
    font-family: 'Arial Rounded MT', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    background-color: #272727;
}

nav ul li a {
    display: inline-block;
    padding: 1.8rem 3.2rem;
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 600;
}

nav ul li a:hover {
    background-color: #272727;
    color: #ffe400;
}

.drop-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 7rem;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.09),
        5px 0 20px 0 rgba(0, 0, 0, 0.19);
}

ul.drop-menu li a,
.mega-menu ul li a {
    width: 100%;
    line-height: 1.5rem;
}

nav ul li:hover .drop-menu {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
    top: 5.4rem;
}

.sub-menu,
.sub-sub-menu {
    margin-top: -5.4rem;
    display: block;
    position: absolute;
    right: 105%;
    visibility: hidden;
    opacity: 0;
}

.drop-menu li:hover .sub-menu,
.sub-menu li:hover .sub-sub-menu {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
    right: 100%;
}

.mega-menu {
    position: absolute;
    width: 90%;
    top: 7rem;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    background-color: #272727;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
    top: 5.4rem;
}

.mega-menu ul {
    display: block;
    background-color: #595959;
    width: 24.99%;
}

.mega-menu .os-posts {
    width: 74.99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    overflow: hidden;
}

.mega-menu .post {
    padding: 0;
    margin: .5rem;
    flex-basis: 31.32%;
    height: 38rem;
    background-color: #595959;
}

.mega-menu .post:hover .content {
    background-color: transparent;
    color: #f2f2f2;
}

.mega-menu .post:hover h3 {
    color: #ffe400;
}

.post img {
    width: 100%;
}

.post .content {
    padding: 1rem;
}

.content h3 {
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.content p {
    font-size: 1.4rem;
    color: #b5b6b7;
}

.active {
    background-color: #272727;
}